.workspace {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.fileItem {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: white;
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    align-items: center;
    margin-bottom: 20px;
}

.fileName {
    font-weight: 500;
}

.removeBtn {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
}